@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Playfair Display', serif;
font-family: 'Plus Jakarta Sans', sans-serif;*/

h1{
    font-family: 'Playfair Display', serif;
    font-size:5.96rem;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size:4.768rem;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size:3.815rem;
}

h4{
    font-family: 'Playfair Display', serif;
    font-size:3.052rem;
}

h5{
    font-family: 'Playfair Display', serif;
    font-size:2.441rem;
}

h6{ font-family: 'Playfair Display', serif;
    font-size:1.953rem;}

    /* The headlines are stopping now its body text */

 .xsdisplay{
    font-family: 'Playfair Display', serif;
    font-size:1.563rem;
    }
    
 .xxsdisplay{
    font-family: 'Playfair Display', serif;
    font-size:1.25rem;
    }

    .lbodytext{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size:1.563rem;
}

.mbodytext{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:1.25rem;
}

.standardbody{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:1rem;

}

.smallbody{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.8rem;

}

.xsbody{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.64rem;

}

.xxsbody{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.512rem;

}
